
//variables colores http://www.colorhunter.com/palette/911754
$color-primario:#001E4D;
$color-secundario:#00377C;
$color-tres:#6E447A;
$color-cuatro:#F73C58;
$color-cinco:#9198BD;



//variables imagenes
$imagen-hero: url('imagenes/heroima.jpg');

//variables tipograficas
$herotitle: arial, helvetica, sans-serif;
