@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
@import '_variables';
@import './_imports';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color:$color-secundario;
	font-family: 'Roboto', sans-serif;
}

 





 
  

